<h2 class="editHeader">Edit This Profile!</h2>
<br>
<div id="edit-form" class="user-container-show">
    {{!-- Edit user form --}}
    <form action="/user/{{user._id}}?_method=PATCH" method="POST">
        <div class="newQuoteContent editInput">
            <label for="name">Name: </label>
            <input type="text" name="name" value="{{user.name}}">
        </div>
        <div class="newQuoteContent editInput">
            <label for="age">Age: </label>
            <input type="text" name="age" value="{{user.age}}">
        </div>
        <div class="newQuoteContent editInput">
            <label for="sex">Sex: </label>
            <input type="text" name="sex" value="{{user.sex}}">
        </div>
        <button class="card-path editSubmit" type="submit">Submit this updated profile</button>
    </form>
    {{!-- delete button WIP --}}
    {{!-- <form action="/user/{{user._id}}?_method=DELETE" method="POST">
        <button class="deleteButton" type="submit">Delete this user</button>
    </form> --}}
</div>