<h1 class="userHeader">
    Your profile and favorite quotes:
</h1>

{{!-- Loops through each user and loops through their favorite quotes --}}
{{!-- Populates users favorite quotes within a Bootstrap card --}}
<div class="user-list-container"></div>
{{#each user}}
<div class="card cardContent" style="width: 18rem;">
    <div class="card-body">
        <h5 class="user-title">{{name}}</h5>
        <h6 class="user-age">{{age}}-year-old</h6>
        <h6 class="user-sex">{{sex}}</h6>
        <a class="card-path" href="/user/{{_id}}/edit">Edit this User</a>
    </div>
</div>
<div class="userFavQuotes">
    {{#each favoriteQuotes}}
    <div class="card quoteCard cardContent" style="width: 18rem;">
        <div class="card-body">
            <h5 class="quote-card-content">"{{content}}"</h5>
            <h6 class="quote-card-speaker">{{speaker}}</h6>
            <a class="card-path" href="/quote">View All Quotes</a>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
</div>